# Data / notebooks / builds
*.log
*.tmp
*.ipynb_checkpoints/
*.csv
*.json
*.jsonl

!rubrics_search/rubrics/harmlessness/seed.jsonl
!rubrics_search/rubrics/helpfulness/seed.jsonl

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
# .env

logs/
wandb/
