# Data / notebooks / builds
*.log
*.tmp
*.ipynb_checkpoints/
*.csv
*.json
*.jsonl

!rubrics_search/rubrics/harmlessness/seed.jsonl
!rubrics_search/rubrics/helpfulness/seed.jsonl
!rubrics_selection/rubrics/harmlessness/Anthropic-SafeRLHF/Anthropic-SafeRLHF_selected_rubrics.jsonl
!rubrics_selection/rubrics/harmlessness/SafeRLHF-RMB/SafeRLHF-RMB_selected_rubrics.jsonl
!rubrics_selection/rubrics/helpfulness/Ultra-Real/Ultra-Real_selected_rubrics.jsonl
!rubrics_selection/rubrics/helpfulness/Ultra-Creative/Ultra-Creative_selected_rubrics.jsonl

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
# .env

logs/
wandb/
